<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    
    <!--Connection string imizi bulmak için tools => connection to database  tıklıyoruz, kopyalayıp yapıştır diyoruz.-->
    <add name="DapperUow" connectionString="Data Source=DESKTOP-LU46454;Initial Catalog=DapperUow;Integrated Security=True"/>
  </connectionStrings>
</configuration>